// ----- Account Setting Advance
#account-setting-advance {
    border-top:2px solid $grey-clr;
    /* Grid Left */
    .grid-left {
        padding:60px 0;
        // Max Width 767px
        @media only screen and (max-width: $break_767) {
            padding:30px 0 0 0;
        }
        ul {
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                display: flex;
                overflow-x:auto;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            li {
                +li {
                    margin-top:10px;
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        margin-left:10px;
                        margin-top:0;
                    }
                }
                a {
                    display: block;
                    padding:15px 25px;
                    color:$black-light-clr;
                    background-color:$grey-clr;
                    font-size:16px;
                    line-height:22px;
                    border-radius:4px;
                    white-space:pre;
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        font-size: 14px;
                        line-height: 20px;
                        padding:10px 20px;
                    }
                    i {
                        margin-right:10px;
                    }
                    &:hover, &.active {
                        color:$white-clr;
                        background-color:$primary-clr;
                    }
                }
            }
        }
    }
    /* Grid Right */
    .grid-right {
        padding:60px 0;
        // Max Width 767px
        @media only screen and (max-width: $break_767) {
            padding:30px 0;
        }
        /* Order Menu */
        .order-menu {
            margin-bottom:30px;
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                margin-bottom:20px;
            }
            ul {
                display: flex;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                li {
                    +li {
                        margin-left:10px;
                    }
                    a {
                        padding:8px 20px;
                        color:$black-light-clr;
                        background-color:$grey-clr;
                        display: block;
                        text-align: center;
                        white-space:pre;
                        border-radius:4px;
                        &:hover, &.active {
                            color:$white-clr;
                            background-color:$primary-clr;
                        }
                        // Max Width 767px
                        @media only screen and (max-width: $break_767) {
                            padding:4px 15px;
                        }
                    }
                }
            }
        }
        /* Divider */
        hr {
            margin-top:0;
            margin-bottom:30px;
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                margin-bottom:15px;
            }
        }
        /* Order Now Box */
        .order-now-box {
            text-align: center;
            padding:30px;
            background-color:$grey-clr;
            border:1px solid $grey3-clr;
            border-radius:4px;
            box-shadow:$shadow-1;
            margin-bottom:20px;
        }
        /* Order Pages */
        .order-content1 {
            /* Group Heading */
            .group-heading {
                margin-bottom:15px;
                h4 {
                    position: relative;
                    .chef-nam {
                        color:$primary-clr;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .btn {
                        font-size:12px;
                        line-height:14px;
                        padding:5px 10px;
                        position: absolute;
                        right:0;
                        top:0;
                        span {
                            // Max Width 767px
                            @media only screen and (max-width: $break_767) {
                                display: none;
                            }
                        }
                    }
                }
                p {
                    font-size:12px;
                    span {
                        margin-right:10px;
                        b {
                            color:$black-light-clr;
                            font-weight: 6003;
                        }
                    }
                }
            }
            /* Delivery Time */
            .delivery-time {
                display: flex;
                align-items:center;
                color:$grey2-clr;
                margin-bottom:10px;
                img {
                    height:30px;
                    width:auto;
                    margin-right:10px;
                }
                span {
                    color:$black-light-clr;
                    font-weight: 600;
                }
            }
            /* Subtotal */
            .subtotal {
                margin-bottom:10px;
                h5 {
                    font-size:16px;
                    line-height:20px;
                }
                p {
                    margin-bottom:5px;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
            }
            /* Total Cart */
            .total-cart {
                span:nth-child(2) {
                    line-height:16px;
                }
            }
            /* CUrrent Orders */
            .orders-list {
                +.orders-list {
                    padding-top:30px;
                    margin-top:30px;
                    border-top: 1px solid $grey3-clr;
                }
            }
            /* Track Step */
            .track-step {
                ul {
                    display: flex;
                    align-items:center;
                    flex-wrap:wrap;
                    justify-content: space-between;
                    li {
                        // Max Width 767px
                        @media only screen and (max-width: $break_767) {
                            width:33.33333333%;
                        }
                        .grids {
                            text-align: center;
                            opacity:0.7;
                            &.active {
                                opacity:1;
                            }
                            img {
                                height:100px;
                                width:auto;
                                // Max Width 767px
                                @media only screen and (max-width: $break_767) {
                                    height:60px;
                                }
                            }
                            p {
                                margin-bottom:0;
                                margin-top:5px;
                                font-weight: 600;
                            }
                        }
                        .arrows {
                            margin:0 20px;
                        }
                    }
                }
            }
            /* Delivery Guy */
            .delivery-guy {
                display: flex;
                flex-wrap:wrap;
                align-items:center;
                justify-content: space-between;
                h5 {
                    font-size:14px;
                    line-height:20px;
                    font-weight: 600;
                    margin-bottom:0;
                }
                p {
                    margin-bottom:0;
                    color:$grey2-clr;
                }
                .profiles {
                    display: flex;
                    align-items:center;
                    .img-sec {
                        width:60px;
                        height:60px;
                        border-radius:50%;
                        overflow: hidden;
                        margin-right:10px;
                        img {
                            width:100%;
                            height:100%;
                        }
                    }
                }
                .contacts {
                    display: flex;
                    a {
                        display: inline-block;
                        text-align: center;
                        padding:0 10px;
                        img {
                            height:20px;
                            width:auto;
                        }
                        p {
                            margin-top:5px;
                        }
                    }
                }
                .estimate-time {
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        margin-top:15px;
                    }
                    p {
                        color:$primary-clr;
                        font-weight: 600;
                    }
                }
            }
            /* Delivery Address */
            .delivery-address {
                margin-bottom:20px;
                h6 {
                    font-size:14px;
                    line-height:20px;
                    font-weight:600;
                    margin-bottom:5px;
                }
                p {
                    margin-bottom:0;
                    color:$grey2-clr;
                    span {
                        display: block;
                    }
                }
            }
            /* Select Kitchen To Review */
            .select-kitchen {
                display: flex;
                align-items:center;
                flex-wrap:wrap;
                margin-bottom:15px;
                span {
                    font-weight: 700;
                    display: inline-block;
                    margin-right:10px;
                }
                .select {
                    max-width:220px;
                    border-radius:4px;
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        max-width:100%;
                    }
                    +.select {
                        margin-left:10px;
                        // Max Width 767px
                        @media only screen and (max-width: $break_767) {
                            margin-left:0;
                            margin-top:5px;
                        }
                    }
                }
            }
            /* Product Order List */
            .review-order-list {
                ul {
                    li {
                        display: flex;
                        flex-wrap:wrap;
                        justify-content:space-between;
                        align-items:center;
                        +li {
                            margin-top:20px;
                        }
                        .product-sec {
                            display: flex;
                            align-items:center;
                            width:50%;
                            // Max Width 767px
                            @media only screen and (max-width: $break_767) {
                                width:100%;
                                margin-bottom:15px;
                            }
                            .img-sec {
                                width:100px;
                                display: inline-block;
                                margin-right:10px;
                                img {
                                    width:100%;
                                }
                            }
                            h6 {
                                font-size:14px;
                                margin-bottom:5px;
                                font-weight:600;
                                a {
                                    color:$black-light-clr;
                                    display: inline-block;
                                    &:hover {
                                        color:$primary-clr;
                                    }
                                }
                            }
                            p {
                                margin-bottom:0;
                                min-width: 200px;
                                display: flex;
                                justify-content: space-between;
                                .left-span {
                                    color:$grey2-clr;
                                    span {
                                        margin-left:4px;
                                        font-weight: 600;
                                        color:$black-light-clr;
                                    }
                                }
                                .right-span {
                                    font-weight:600;
                                    color:$primary-clr;
                                }
                            }
                        }
                        .delivery-sec {
                            display: flex;
                            align-items:center;
                            width:50%;
                            // Max Width 767px
                            @media only screen and (max-width: $break_767) {
                                width:100%;
                            }
                            img {
                                width:40px;
                                margin-right:10px;
                            }
                            span {
                                display: block;
                                font-size:12px;
                                b {}
                            }
                        }
                    }
                }
            }
            /* h5 Heading */
            .h5-heading {
                font-size:16px;
                font-weight: 600;
            }
            /* Ratings */
            .overal-rating {
                .cs-rating {
                    display: flex;
                    align-items:center;
                    +.cs-rating {
                        margin-top:15px;
                    }
                    .small-heading {
                        font-size:14px;
                        color:$grey2-clr;
                        margin-right:15px;
                    }
                    .rating-xs {
                        flex-direction: row;
                        font-size:16px;
                    }
                }
            }
            /* Image Upload */
            .imgs_upload {
                p {
                    color:$grey2-clr;
                }
                .file-upload {
                    max-width:200px;
                }
            }
        }
        /* Referral */
        .referral-sec {
            display: flex;
            flex-wrap: wrap;
            .copy-clipboard {
                margin-right:10px;
            }
        }
        /* Social */
        .social {
            margin:20px 0;
        }
        /* Color Box */
        .color-box {
            text-align: center;
            color:$white-clr;
            background-color:$primary-clr;
            padding:15px 20px;
            border-radius:4px;
            a {
                color:$white-clr;
                text-decoration: underline;
                font-weight:600;
            }
        }        
        /* Card List */
        .card-list {
            margin-bottom:20px;
            .card-item {
                border-top:1px solid $grey3-clr;
                padding:20px 0;
                &:last-child {
                    border-bottom:1px solid $grey3-clr;
                }
                h5 {
                    font-size:14px;
                    line-height:20px;
                    font-weight:400;
                    margin-bottom:10px;
                    label {
                        font-weight:400;
                        margin-bottom:0;
                    }
                }
                .card-widget {              
                    padding-left: 25px;      
                    .btn {
                        min-width:100px;
                        padding:6px 10px;
                        font-size: 12px;
                        line-height:18px;
                    }
                }
            }
        }
        /* Credit Card List */
        .card-img {
            display: flex;
            margin-bottom:15px;
            li {
                +li {
                    margin-left:10px;
                }
                img {
                    width:60px;
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        width:40px;
                    }
                }
            }
        }
        /* Address List */
        .address-list {
            margin-bottom:20px;
            .address-item {
                border-top:1px solid $grey3-clr;
                padding:20px 0;
                &:last-child {
                    border-bottom:1px solid $grey3-clr;
                }
                h5 {
                    font-size:16px;
                    line-height:22px;
                    font-weight:600;
                    label {
                        font-weight:600;
                        margin-bottom:0;
                    }
                }
                .address-widget {
                    display:flex;
                    flex-wrap:wrap;
                    justify-content:space-between;
                    padding-left: 25px;
                    p {
                        color:$grey2-clr;
                    }
                    .edit-part {
                        text-align: center;
                        // Max Width 767px
                        @media only screen and (max-width: $break_767) {
                            text-align:left;
                        }
                        .text-radio {
                            font-weight:600;
                            padding:6px 10px;
                            font-size: 12px;
                            line-height:18px;
                        }
                        .btn {
                            padding:6px 10px;
                            font-size: 12px;
                            line-height:18px;
                        }
                    }
                }
            }
        }
    }
}
