// ----- Footer
footer {
    background-color:$grey-clr;
    /* Newsletter */
    .newsletter {
        padding:50px 0px;
        border-bottom:1px solid #cecece;
        // Max Width 767px
        @media only screen and (max-width: $break_767) {
            padding:30px 0;
        }
        .content-left {
            border-right:1px solid #cecece;
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                border-right:none;
                margin-bottom:10px;
            }
            h5 {
                font-weight:700;
                font-size:16px;
                line-height: 22px;
                margin-bottom:0;
            }
            p {
                font-size:16px;
                margin-bottom:0;
                color:$grey2-clr;
                // Max Width 767px
                @media only screen and (max-width: $break_767) {
                    font-size:14px;
                }
            }
        }
        .content-right {
            form {
                display: flex;
                flex-wrap:wrap;
                justify-content:space-between;
                max-width:450px;
                margin-left:auto;
                .form-control {
                    background-color:$white-clr;
                    padding:0px 15px;
                    height:45px;
                    width: calc(100% - 120px);
                }
                button {
                    padding:0px 20px;
                    height:45px;
                }
            }
        }
    }
    /* Main Footer */
    .main-footer {
        padding-bottom:50px;
        // Max Width 767px
        @media only screen and (max-width: $break_767) {
            padding-bottom:30px;
        }
        .footer-logo {
            margin-top:50px;
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                margin-top:30px;
            }
            a {
                display: inline-block;
                img {
                    height:60px;
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        height:40px;
                    }
                }
            }
        }
        p {
            max-width:400px;
            margin:20px 0;
            color:$grey2-clr;
            @media only screen and (max-width: $break_767) {
                margin:10px 0;
            }
        }
        .footer-social {
            li {
                display: inline-block;
                margin-right:30px;
                // Max Width 767px
                @media only screen and (max-width: $break_767) {
                    margin-right:15px;
                }
                a {
                    font-size:20px;
                    display: inline-block;
                    color:$grey2-clr;
                    // Max Width 767px
                    @media only screen and (max-width: $break_767) {
                        font-size:18px;
                    }
                    &:hover {
                        color:$primary-clr;
                    }
                }
            }
        }
        h5 {
            font-size:18px;
            line-height:24px;
            font-weight: 700;
            margin-bottom:15px;
            margin-top: 50px;
            @media only screen and (max-width: $break_767) {
                margin-top:20px;
            }
        }
        .footer-quick-link {
            li {
                margin-bottom:10px;
                a {
                    display: inline-block;
                    color:$grey2-clr;
                    text-transform: capitalize;
                    &:hover {
                        text-decoration: underline;
                        color:$primary-clr;
                    }
                }
            }
        }
        .footer-address {
            li {
                margin-bottom:10px;
                position: relative;
                padding-left:25px;
                i {
                    color:$grey2-clr;
                    position: absolute;
                    top:3px;
                    left:0;
                }
                span {
                    color:$grey2-clr;
                }
                a {
                    display: inline-block;
                    color:$grey2-clr;
                    &:hover {
                        text-decoration: underline;
                        color:$primary-clr;
                    }
                }
            }
        }
    }
    /* Copyright */
    .copyright {
        background-color:$black-light-clr;
        padding:10px 0;
        p {
            margin-bottom:0;
            font-size:12px;
            color:$grey-clr;
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                text-align: center;
            }
        }
        ul {
            display: flex;
            justify-content:flex-end;
            // Max Width 767px
            @media only screen and (max-width: $break_767) {
                display: none;
            }
            li {
                margin-left:5px;
                width:30px;
                img {
                    width:100%;
                }
            }
        }
    }
}
